/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/*BASIC SETUP START*/
/*BASIC SETUP START*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*REUSABLE COMPONENT START*/
/*REUSABLE COMPONENT START*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.row:before, .row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.section-padding {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.lead {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

.btn {
    font-family: 'Archivo Black', sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    color: #222222;
    position: relative;
    z-index: 0;
}

.btn:after {
    content: "";
    background: #fff;
    width: 48px;
    height: 48px;
    position: absolute;
    right: -16px;
    top: -20px;
    z-index: -1;
    transition: 0.3s;
}

.btn:hover:after {
    width: 140%;
    background:#fff;
}


/*HEADER SECTION START*/
/*HEADER SECTION START*/


header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.logo {
    margin-top: 48px;
    float: left;
    margin-left: 120px;
}

.main-nav {
    float: right;
    margin-top: 40px;
}

.main-nav span {
    border: 1px solid #fff;
    display: block;
}

.main-nav span:hover {
    cursor: pointer;
}

.main-nav .fas {
    color: #222222;
    font-size: 18px;
    padding: 11px 13px;
}

.overlay {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-content ul {
    list-style-type: none;
}

.overlay-content ul li {
    display: block;
    margin: 28px 0;
}

.overlay-content ul li:first-child {
    margin-top: 0;
}

.overlay-content ul li:last-child {
    margin-bottom: 0;
}

.overlay-content ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

.overlay-content ul li a:hover {
    color: #ddd;
}

.closebtn {
    float: right;
    margin-top: 40px;
    margin-right: 80px;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(207, 204, 255, 0.9);
    box-shadow: 0 2px 0 rgba(255,255,255,.6);
    z-index: 9999;
}

.sticky .logo {
    margin: 20px 0;
}

.sticky .main-nav {
    margin-top: 0;
    padding: 8px 0;
}

/*SLIDER SECTION START*/
/*SLIDER SECTION START*/
.slider {
    background: url(./img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.hero-text-box {
    font-family: 'Poppins', sans-serif;
    width: 70%;
    padding-left: 10%;
    padding-top: 240px;
    padding-bottom: 310px;
}

.hero-text-box h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 28px;
}

.hero-text-box h2 {
    font-size: 72px;
    font-weight: 700;
    color: #726bb1;
    text-transform: capitalize;
    padding-bottom: 46px;
}

.hero-text-box .lead {
    color: #000;
    padding-bottom: 80px;
}

.hero-text-box-btn {
    display: inline-block;
    padding-bottom: 10px;
}

.hero-text-box-btn:hover {
    cursor: pointer;
}

/*ABOUT SECTION START*/
/*ABOUT SECTION START*/
.about-section {
    background: #fff;
}
.about-section .about-content-area {
    display: flex;
    flex-wrap: wrap;
}

.about-section-content-left {
    width: 39%;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    margin-left: 100px;
    margin-right: 60px;
    position: relative;
}

.about-section-content-left:before {
    content: "";
    background: url(img/about-bg.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    left: -64%;
    width: 362px;
    min-height: 600px;
}

.about-section-content-left h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 58px;
    z-index: 0;
}

.about-section-content-left .lead {
    color: #555555;
    font-weight: 500;
    margin-bottom: 130px;
    z-index: 1;
}

.about-section-content-left .btn {
    align-self: flex-end;
}

.about-section-content-left .btn:after {
    background: #cfccff;
}


.about-section-content-right {
    width: 39%;
    margin-top: -10%;
}

.about-section-content-right .img-fluid {
    width: 100%;
    height: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

.about-section-content-right .lead {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}

.about-section-content-right .lead:nth-child(2) {
    margin-bottom: 40px;
}

/*FEATURES SECTION START*/
/*FEATURES SECTION START*/

.features-section {
    background: #f5f9fd;
}

.features-content-area {
    display: flex;
    flex-wrap: wrap;
}

.features-content-left {
    max-width: 530px;
    padding-top: 120px;
}

.features-content-left h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #726bb1;
    margin-bottom: 50px;
}
.features-content-left .lead {
    color: #555555;
    font-weight: 400;
    margin-bottom: 60px;
}
.features-content-left .img-fluid {
    width: 100%;
    min-height: 360px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: -12%;
}

.features-content-right {
    padding-top: 120px;
    width: 49%;
    padding-left: 120px;
}

.features-single-item {
    display: flex;
    margin: 25px 0;
}

.features-single-item:first-child {
    margin-top: 0;
}
.features-single-item:last-child {
    margin-bottom: 0;
}


.features-icon {
    margin-right: 25px;
    align-self: end;
}

.features-single-item-content h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
    margin-bottom: 30px;
}

.features-single-item-content .lead {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #555555;
}

/*PROJECTS SECTION START*/
/*PROJECTS SECTION START*/
.projects-section {
    background: #fff;
    padding: 100px 0;
}

.projects-header-content {
    width: 40%;
}

.projects-header-content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #726bb1;
    margin-bottom: 24px;
}

.gallery-body-content {
    display: flex;
    flex-wrap: wrap;
}
.gallery-little-description h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #555555;
    margin-bottom: 40px;
}

.gallery-little-description .lead {
    font-size: 18px;
    color: #555555;
    line-height: 28px;
    margin-bottom: 100px;
}
.gallery-single-img-wrapper {
    flex: 47%;
}

.gallery-single-img-wrapper img {
    width: 100%;
}

.gallery-single-img-wrapper:nth-child(1), .gallery-single-img-wrapper:nth-child(3) {
    padding-right: 20px;
}

.gallery-single-img-wrapper:nth-child(2), .gallery-single-img-wrapper:nth-child(4) {
    padding-left: 20px;
}

.gallery-single-img-wrapper:nth-child(3) {
    margin-top: 40px;
}

.gallery-single-img-wrapper:nth-child(4) {
    margin-top: -20%;
}
.gallery-single-img-wrapper:nth-child(4) a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    margin-top: 220px;
}

.gallery-single-img-wrapper a span {
    align-self: center;
    margin-right: 16px;
}
.gallery-single-img-wrapper a img {
    width: auto;
}

/*BANNER SECTION START*/
/*BANNER SECTION START*/

.banner-section {
    padding: 120px 0;
    background: url(img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.banner-content-area {
    display: flex;
    justify-content: flex-end;
}
.banner-text-box {
    width: 45%;
    text-align: right;
    color: #fff;
    padding-right: 70px;
}
.banner-text-box h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 40px;
}
.banner-text-box .lead {
    color: #fff;
    margin-bottom: 52px;
}
.banner-text-box a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.banner-text-box a span {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #222222;
    margin-right: 10px;
}
.banner-text-box .fa-play:before {
    color: #fff;
    background: #cfccff;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    padding-left: 8px;
    padding-bottom: 8px;
}

/*SERVICES SECTION START*/
/*SERVICES SECTION START*/
.services-section {
    background: #fff;
    padding: 80px 0;
}

.services-main-content {
    width: 40%;
    margin: auto;
    text-align: center;
}

.services-main-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #726bb1;
    margin-bottom: 60px;
}

.services-main-content .lead {
    font-weight: 700;
    color: #555555;
    margin-bottom: 70px;
}

.services-content-area {
    display: flex;
    flex-wrap: wrap;
}

.services-content-single-item {
    border-top: 4px solid #cfccff;
    width: 47%;
    display: flex;
    box-shadow: 0px 3px 24px 0px rgba(6, 7, 7, 0.08);
    margin: 2% 1%;
    padding: 40px;
}

.services-icon {
    padding-right: 36px;
}

.services-sub-content h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 28px;
}

.services-sub-content .lead {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #555555;
    margin-bottom: 35px;
    line-height: 28px;
}

.services-sub-content a {
    display: flex;
    text-decoration: none;
}

.services-sub-content a span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    align-self: flex-end;
    color: #222222;
    margin-right: 10px;
}

.services-sub-content a img {
    height: 24px;
    width: 24px;
}

/*ARTICLE SECTION START*/
/*ARTICLE SECTION START*/

.article-section {
    background: url(img/features-articale-bg.jpg);
    padding: 80px 0;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 62% 60%;
}

.article-main-content-area {
    width: 50%;
}

.article-main-content-area h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #222222;
    margin-bottom: 60px;
}

.article-main-content-area .btn:after {
    background: #cfccff;
}

.article-main-content-area .lead {
    width: 55%;
}

.article-main-content-area .lead:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.article-main-content-area a {
    float: right;
    margin-top: -80px;
}


/*TEAM SECTION START*/
/*TEAM SECTION START*/
.team-section {
    border-top: 1px solid #e5e5e5;
    padding: 80px 0;
}

.team-main-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.team-main-content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: #726bb1;
    margin-bottom: 50px;
}

.team-main-content .lead {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 70px;
}

.team-main-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.team-main-content h2 {
    color: #726bb1;
    font-size: 42px;
    margin-bottom: 50px;
}

.team-section-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.single-team-item:nth-child(2), .single-team-item:nth-child(4) {
    margin-top: 230px;
    flex-direction: row-reverse;
}


.team-member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .team-member-info {
    writing-mode: vertical-rl;
} */

.team-member-info h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
    margin-top: 20px;
    margin-bottom: 16px;
}

.team-member-info span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555555;
}
/*TESTIMONIAL SECTION START*/
/*TESTIMONIAL SECTION START*/
